@use '@announcing/components/base.scss';

html {
  height: 100dvh;
}

body {
  min-height: 100dvh;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (width > 600px) {
  html {
    background-color: var(--color-background-light);
  }
  body {
    background-color: var(--color-background);
    margin: 0 auto;
  }
}
